.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
}

.login-header-background {
    width: 270px;
    overflow-wrap: break-word;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #145e14;
    opacity: 0.25;
    z-index: -2;
}

.login-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 3rem 0 0 0;
}

.login-heading {
    position: relative;
    bottom: 21rem;
    margin-bottom: -21rem;
}

.login-title {
    font-family: VT323;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 70px;
    color: #1db818;
    letter-spacing: 2rem;
    margin-right: -2rem;
    /* padding-right: -2rem; */
}

.login-subtitle {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1db818;
}

.login-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 0;
}

.login-btn-group {
    display: flex;
    flex-direction: column;
}

.login-btn {
    margin: 1rem;
    width: 250px;
    height: 46px;
    background: #080e08;
    border: 2px solid rgba(38, 223, 33, 0.2);
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #26df21;
}

.login-btn:hover {
    background: rgba(24, 47, 36, 0.6);
    border: 2px solid rgba(38, 223, 33, 0.72);
    box-sizing: border-box;
    box-shadow: inset -4px -4px 6px rgba(38, 223, 33, 0.08),
        inset 4px 4px 5px rgba(38, 223, 33, 0.08);
}

.login-btn:focus {
    background: rgba(24, 47, 36, 0.6);
    border: 2px solid rgba(38, 223, 33, 0.72);
    box-sizing: border-box;
    box-shadow: inset -4px -4px 6px rgba(38, 223, 33, 0.08),
        inset 4px 4px 5px rgba(38, 223, 33, 0.08);
}

.login-footer {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1db818;
    margin-top: 2rem;
}

@media only screen and (max-width: 670px) {
    .login-bottom {
        margin: 0 1rem 1rem 1rem;
    }
    .login-footer {
        margin-top: 0rem;
    }
}
