.button-container {
    color: #26df21 !important;
    font-family: IBM Plex Mono;
    font-size: 26px;
    margin-top: 39px;
    padding: 8px 50px;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #26df21;
}
