.timer-page {
    background: #080e08;
    height: 92vh;
    width: 94vw;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    /* align-self: center;
    justify-self: center; */
}

.timer-heading {
    font-size: 27px;
    line-height: 35px;
}
.ant-statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ant-statistic-title {
    color: #1db818;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: 300px;
}

.ant-statistic-content {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    background: rgba(24, 47, 36, 0.3);
    color: #26df21;
}

.timer-start-now {
    font-family: VT323;
    font-size: 70px;
    line-height: 70px;
}

.timer-footer {
    font-size: 20px;
    line-height: 26px;
}

@media only screen and (max-width: 600px) {
    .timer-page {
        height: 90vh;
        width: 90vw;
        margin: 1.7rem;
    }
}
