.profile-content {
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem 0 2rem 2rem;
    position: relative;
    height: 100%;
}
.profile-heading {
    font-weight: bold;
    font-size: 1.8rem;
}
.profile-body {
    margin: 1% 0;
    padding: 0;
}
.profile-header {
    font-weight: bold;
    margin-top: 0.6rem;
}
.profile-value {
    font-weight: normal;
    margin-left: 0.6rem;
}
#name-input {
    border: none;
    outline: none;
    padding: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.6rem;
}
#name-input::placeholder {
    color: #1db818;
    font-weight: bold;
}
.edit-icon {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.edit-button {
    background-color: #080e08;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    outline: none;
}
.input-default {
    background-color: #080e08;
}
.input-highlight {
    background-color: rgba(24, 47, 36, 0.7);
}
.next-page {
    margin: auto;
    height: auto;
    padding: 0.6rem;
    position: absolute;
    bottom: 0;
    width: 80%;
    text-align: center;
}
.next-page button {
    background-color: #080e08;
    border: none;
    outline: none;
    font-weight: bold;
}
