@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2b2d29;
    color: #26df21;
    font-family: "IBM Plex Mono", monospace;
}

html {
    cursor: url("https://i.ibb.co/LtR9LJr/cursor.png"), auto;
}

.page {
    background: #080e08;
    height: 92vh;
    width: 94vw;
    margin: 2rem;
    display: flex;
}
