@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: url("./images/cursor.svg"), auto;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #26df21;
    font-family: "IBM Plex Mono", monospace;
    position: relative;
    cursor: url("./images/cursor.svg"), auto;
}

.page {
    background: #080e08;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
}

.cursor {
    cursor: url("./images/hover.svg"), auto;
}

/* loading page css */
.loading-page {
    background-color: #2b2d29;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
}

.spinner {
    width: 92px;
    height: 92px;
    margin: 100px auto;
    background-color: rgba(38, 223, 33, 0.72);

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.instructions-page {
    flex-direction: column;
    padding: 5rem;
    overflow-y: scroll;
}

.partner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner-img {
    margin: 1rem;
    width: auto;
    height: 10rem;
}

/*  download .page */
.download-text {
    font-family: VT323;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.download-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .partner-img {
        margin: 1rem;
        width: 250px;
        height: auto;
    }
}
