.story-content {
    font-size: 1rem;
    padding: 0;
    margin: 0.8rem 0 auto 2.5rem;
}
.story-heading {
    font-size: 1.8rem;
    font-weight: bold;
}
div.story-body {
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
}

.story-body {
    margin-top: 0.6rem;
    padding-right: 8rem;
}
::-webkit-scrollbar {
    overflow: hidden;
}
div::-webkit-scrollbar {
    width: 12px;
    background-color: #080e08;
    border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
    background: #1db818;
    border-radius: 10px;
}

@media only screen and (max-width: 330px) {
    .story-body {
        margin-top: 0.6rem;
        padding-right: 0rem;
    }
}
