.not-found-page {
    display: flex;
    flex-direction: column;
    place-items: center;
    background: #030103;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.character {
    height: auto;
    margin: 0;
    width: 700px;
}

@media only screen and (max-width: 600px) {
    .character {
        height: auto;
        margin: 0;
        width: 300px;
    }
}
